nav{
  min-height:10vh;
  display: flex;
  justify-content:space-around;
  align-items:center;
  button{
    background: transparent;
    cursor: pointer;
    border: 2px solid rgb(65,65,65);
    transition: all 0.3s ease;
    padding: .5rem;
    &:hover{
      background: rgb(65,65,65);
      color:white;
    }
  }
  p{
    font-size:1rem;
  }
}

@media screen and (max-width: 900px){
  nav{
    button{
      z-index:10;
    }
  }
}